.workbench-editor>header>div:first-child {
  display: flex;
  align-items: baseline;
  min-width: 0;
  gap: 8px;
}

.workbench-panel>header>div:first-child {
  display: flex;
  align-items: baseline;
  min-width: 0;
  gap: 8px;
}
