.virtual-list {
  position: relative;
  min-width: 0;
  min-height: 0;
  overflow: auto;
}

.virtual-list-spacer {
  position: relative;
  width: 100%;
  min-width: 0;
}

.virtual-list-row {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-width: 0;
  overflow: hidden;
}
